---
BasedOnStyle: Mozilla
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Allman
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 100
IndentWidth: 2
Standard: c++17
StatementMacros:
  - vtkGetMacro
  - vtkGetObjectMacro
  - vtkSetMacro
  - vtkSetObjectMacro
  - vtkTypeMacro
  - vtkBooleanMacro
  - vtkSetClampMacro
  - vtkGetEnumMacro
  - vtkSetEnumMacro
